

<div class="group question">
  <p class="mb-0"><%= @question %></p>
  <p class="signature mb-0">-You</p>
</div>

<div class="group answer-card">
  <%= @answer %>
  <p class="signature mb-0">-Your coach</p>
</div>

<a href="" class="button"><%= link_to "Ask another question", ask_path %></a>
