
<p>Ask your coach anything:</p>
<form action="answer" class="input-group mb-3 w-50">
  <input name="question" type="text" class="form-control" placeholder="Ask something" aria-label="Recipient's username" aria-describedby="button-addon2" id="question">
  <button class="btn btn-outline-primary" type="button" id="button-addon2">Ask!</button>
</form>
